[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GPLTR"]
	path = GPLTR
	url = https://github.com/cran/GPLTR
[submodule "iBST"]
	path = iBST
	url = https://github.com/cran/iBST
